%h1 Admin View
= link_to 'List Users', admin_users_path,  class: "btn btn-primary"
= link_to 'List Tags', admin_users_path,  class: "btn btn-primary"
= link_to 'List Dishes', admin_users_path,  class: "btn btn-primary"
= link_to 'List Orders', admin_users_path,  class: "btn btn-primary"
= link_to 'List Restaurants', admin_users_path,  class: "btn btn-primary"