%h2 Food here

= search_form_for @search do |f|
  .field
    = f.label :name_cont, "Name"
    = f.text_field :name_cont
    = f.submit "Search", class: "btn btn-submit"
%br    
- if current_user && current_user.admin?
  .row 
    .col-md-12
      = form_tag('/foods/fetch', method: 'get') do
        .col-md-2
          = select_tag 'restaurant', options_for_select([ 'Grzesznicy', 'Pyszne' ], 'Grzesznicy'), { :class => 'col-md-3 form-control' }
        = submit_tag 'Fetch food', class: 'btn btn-submit'   
%br  
%table.table.table-striped.table-hover#products
  %tr
    %th Product name
    %th Product price
    %th Product rate
    %th

  - @products.each do |product|
    %tr
      %td= link_to(product.name, product)
      %td= number_to_currency(product.price)
      %td= product.average_rating
      %td
        - if user_signed_in?
          = link_to "Add to order", product_order_items_path(product), 
            method: :post, action: :create, class: "btn btn-primary"

