!!!
%html
  %head
    %title FeedMe
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-inverse.navbar-static-top
      #navbar.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li= link_to 'Home', root_path
          - if user_signed_in?
            %li= link_to 'Logout', destroy_user_session_path, method: :delete
            %li= link_to 'Current order', food_order_path(current_user.active_order)
            %li= link_to 'Orders history', food_orders_path
            - if current_user.admin?
              %li= link_to 'Admin Panel', rails_admin_path
          - else
            %li= link_to "Sign in with Github", user_omniauth_authorize_path(:github)
            %li= link_to 'Sign in', new_user_session_path
            %li= link_to 'Sign up', new_user_registration_path

    .container
      - if notice
        .alert.alert-success= notice
      - if alert
        .alert.alert-danger= alert
      = yield
%footer
  %p.text-center.info-text-footer FeedMe
